extends ../layout.jade

block content
  div
    h1= title
    a(href= 'dishes/new') Contribute a dish
    ul
      each dish in dishes
        li
          h3
            a(href= '/dishes/#{dish._id}')= dish.description
          p= dish.student
          span= dish.createdAt

