extends ../layout

block content
  h1= title
  form(name='add-dish' method='POST' action='/dishes')
    p Dish:
      input(type='text' placeholder='Dish' name='description')
    p Student:
      textarea(placeholder='Who is bringing it?' name='student')
    p
      button(type='submit') Add blog post

  a(href='/') Back to home

