doctype html
html
  head
    //- title is equal to blogs in our app.js, so this allows us to change pages
    title= title
    link(rel='stylesheet', href='stylesheets/application.scss')
    link(href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css')
  body
    block content
