doctype html
html
  head
    //- title is equal to blogs in our app.js, so this allows us to change pages
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="animate.min.css")
  body
    h1 GA's Wango Tango Pot Luck-o
    h2 You better bring it
      block content
