body {
  background-image: url("http://24.media.tumblr.com/d1032f3c1c91093f926cbfaa83bd3b04/tumblr_mftnjfzkpA1qjitjco1_500.png");
  font-family: 'Righteous', cursive;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 10px;
  padding-left: 3em;
  color: #f42957;
};

h2 {
  font-size: golden-ratio(14px,  1);
  color: #f35445;
};

#container{
    display: inline;
    background-color: white;
    padding: 0.5em 1em;
};

/* unvisited link */
a:link {
    color: #f35445;
};

/* visited link */
a:visited {
    color: #577d87;
};

/* mouse over link */
a:hover {
    color: #e1bd25;
};

/* selected link */
a:active {
    color: #0000FF;
};
