body {
  font-family: 'Righteous', cursive;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 10px;
  padding-left: 3em;
  color: #f42957;
};

h2 {
  font-size: golden-ratio(14px,  1);
  color: #f35445;
};

p{
  font-family: 'Righteous', cursive;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 10px;
  padding-left: 3em;
  color: #f42957;

};

#container{
    display: inline;
    background-color: white;
    padding: 0.5em 1em;
};

/* unvisited link */
a:link {
    color: #d45186;
};

/* visited link */
a:visited {
    color: #577d87;
};

/* mouse over link */
a:hover {
    color: #63c5ae;
};

/* selected link */
a:active {
    color: #577d87;
};

.btn {
  -webkit-border-radius: 58;
  -moz-border-radius: 58;
  border-radius: 58px;
  font-family: Arial;
  color: #301699;
  font-size: 19px;
  background: #b6c25d;
  padding: 11px 18px 10px 20px;
  border: solid #c777bb 11px;
  text-decoration: none;
};

.btn:hover {
  background: #5b8aa8;
  text-decoration: none;
}